/* :host {
  display: block;
  min-height: calc(100vh - 122px);
  background-color: #c7c79c;
} */

.container {
  display: block;
  min-height: calc(100vh - 122px);
  background-color: #c7c79c;
}

mat-card {
  min-height: calc(100vh - 150px);
}
