.container-form {
  width: 800px;
}

.container-form mat-dialog-container {
  padding: 0;
}

.container-form mat-dialog-content {
  margin: 0;
  padding: 24px;
}

.photo {
  height: 260px;
  border: 1px solid black;
}

.photo.hover {
  border: 1px dashed blue;
}

#photo {
  background-repeat: no-repeat;
  background-size: contain;
}

.textToDrag {
  text-align: center;
  font-size: 12px;
}

input[type="file"] {
  display: none;
}

@media (max-width: 500px) {
  .container-form {
    width: 320px;
  }
}
