.container-form {
  width: 500px;
}

.container-form mat-dialog-container {
  padding: 0;
}

.container-form mat-dialog-content {
  margin: 0;
  padding: 24px;
}

@media (max-width: 500px) {
  .container-form {
    width: 320px;
  }
}
