<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between center">
  <h3 class="title">{{ title }}</h3>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form fxLayout fxLayoutGap="20px" [formGroup]="group" (ngSubmit)="save()">
    <div fxFlex="1 1 33%" fxLayout="column">
      <div
        id="photo"
        #contentPhoto
        class="photo"
        appUpload="image/jpg,image/jpeg,image/gif,image/png"
        (onHover)="mouseOver = $event"
        (onUploadedFiles)="selectedImage($event)"
        [ngClass]="{ hover: mouseOver }"
      ></div>
      <div fxLayout="column">
        <span class="textToDrag">
          Arrastre una imagen o presione este botón
        </span>
        <div>
          <button
            mat-flat-button
            (click)="loadImage()"
            color="primary"
            type="button"
          >
            Cargar imagen
          </button>
          <input type="file" #uploadImage (change)="upload($event)" />
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="1 1 33%">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Segundo nombre</mat-label>
        <input type="text" matInput formControlName="surname" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput formControlName="lastname" required />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="1 1 33%">
      <mat-form-field appearance="outline">
        <mat-label>CMP</mat-label>
        <input type="text" matInput formControlName="cmp" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>DNI</mat-label>
        <input type="text" matInput formControlName="dni" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input type="text" matInput formControlName="email" required />
      </mat-form-field>
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
        <button mat-flat-button color="accent" type="submit">Grabar</button>
        <button mat-button mat-dialog-close>Cerrar</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
