<perfect-scrollbar class="heightMaxPerfectScrollbar">
  <app-table
    [dataTable]="dataTable"
    [metadataTable]="metadataTable"
    [paginator]="matPaginator"
  >
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="align-right">
        <button mat-button (click)="actionForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </app-table>
</perfect-scrollbar>
<mat-paginator
  pageSize="10"
  [length]="dataTable?.length"
  showFirstLastButtons="true"
  hidePageSize="true"
>
</mat-paginator>
<app-keypad
  [keypadButtons]="listKeyPadButtons"
  (clickButton)="execute($event)"
></app-keypad>
